.footer {
  position: absolute;
  bottom: 0;
  &__sns {
    display: flex;
    padding: 1em;
    &__logo {
      width: 2em;
      height: 2em;
      margin: 0 0.5em;
      cursor: pointer;
      &__path:hover, &__link:hover {
        fill: lightgray;
      }
    }
  }
}